@import "tailwindcss";

@theme {
  --font-main: var(--font-manrope);
  --font-secondary: var(--font-poppins);

  --spacing-18: 4.5rem; /* 72px */
  --spacing-13: 3.25rem; /* 52px */
  --spacing-17: 4.25rem; /* 68px */
  --spacing-22: 5.5rem; /* 88px */
  --spacing-25: 6.25rem; /* 100px */
  --spacing-34: 8.5rem; /* 136px */

  --text-40: 2.5rem; /* 40px */
  --text-64: 4rem; /* 64px */
  --text-80: 5rem; /* 80px */

  --color-primary-200: hsla(0, 0%, 60%, 1);
  --color-primary-800: hsla(0, 0%, 11%, 1);
}

@layer base {
  body {
    @apply font-main text-primary-800 text-[18px] leading-[180%] relative;
  }

  h1 {
    @apply font-bold font-main text-[40px] md:text-[50px] lg:text-[80px] mb-6 md:mb-9 lg:mb-20 leading-[100%];
  }

  h2 {
    @apply text-[36px] md:text-[43px] lg:text-[64px] font-medium leading-[135%] mb-4 md:mb-0;
  }

  h3 {
    @apply text-[32px] md:text-[35px] lg:text-[40px] font-medium leading-[135%] mb-4;
  }
}
